<button>Sekunder knap</button>

<style>
  button a {
    text-decoration: none;

    color: var(--color-baggrund);
  }

  button {
    border: none;
    cursor: pointer;
    border-radius: var(--radius-button);
    border: 2px solid var(--color-morkegraa);
    height: var(--button-height);
    width: var(--button-width);
    color: var(--color-morkegraa);
    font-weight: 500;
    font-size: var(--font-size-knap);
    box-shadow: var(--shadow);
    margin: auto;
  }
</style>
